:root {
    --color-yellow-logo: #F5C518;
    --color-yellow-80: rgba(245, 197, 24, 0.5);
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-red: #EF5A5A;
    --color-green-checked: #2DEB35;
    --color-black-60: rgba(0, 0, 0, 0.6);
    --color-grey-disabled: #404040;
    --color-black-90: rgba(0, 0, 0, 0.9);
    font-family: "Roboto", "Inter", Helvetica, sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../images/bg-img.png);
    background-size: cover;
    color: var(--color-white);
    display: flex 1fr 1fr 1fr;
    min-height: 100vh; 
    
}

header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    a {
        color: var(--color-white);
        font-size: 1rem;
        text-decoration: none;
   }
}

.main-menu {
    display: none;
}

.menu-main {
    display: flex;
    background: var(--color-black-90);
    padding: 0px 10px 0px 0px;
    gap: 3px;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 0.5em;
    border: 1px solid var(--color-yellow-logo);
    height: 35px;
    
    align-items: center;
}

nav {
    display: none;
    position: fixed;
    top: 45px;
    left: 5px;
    background-color: var(--color-black-60);
    z-index: 50;
    border: 1px solid var(--color-yellow-logo);
    border-radius: 1em;
    li:hover {
        background-color: var(--color-grey-disabled);
        border-right: 2px solid var(--color-yellow-logo);
        border-radius: 0.4em;
        p {
            color: var(--color-yellow-logo);
        }
    }
}

nav ul {
    width: 165px;
    padding: 5px 10px;
    margin: 5px auto;
}

.close {
    display: grid;
    grid-template-columns: 0.4fr 0.2fr;
    justify-content: right;
    right: 20px;
    padding: 0 0 5px 0;
    margin-left: 30px;
    display: none;
}

nav li {
    display: flex;
    justify-content: space-between;
    margin: 0 3px;
    img {
        // margin: 5px 5px;
        padding: 10px;
        width: 30px;
        height: 30px;
        
    }
    
}

nav a {
    display: inline-flex;
    align-items: center;
    
}

#hamburger-menu {
    display: none;
}

#hamburger-menu:checked ~ nav {
    display: block;
    animation-name: flyin;
    animation-duration: 0.5s;
    animation-direction: "normal";
      
    @keyframes flyin {
        0% {left: -300px;}
        100% {left: 0px;}
    }
    
}

.header ul {
    display: grid;
    max-width: ;
    height: 200px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 100px);
    background: var(--color-black);
    border: 1px solid var(--color-yellow-logo);
    gap: 5px;
    
}

.header li {
    list-style: none;
}
