:root {
    --color-yellow-logo: #F5C518;
    --color-yellow-80: rgba(245, 197, 24, 0.5);
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-red: #EF5A5A;
    --color-green-checked: #2DEB35;
    --color-black-60: rgba(0, 0, 0, 0.6);
    --color-grey-disabled: #404040;
    --color-black-90: rgba(0, 0, 0, 0.9);
    font-family: "Roboto", "Inter", Helvetica, sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    align-items: center;    
    background-image: url(../images/bg-img.png);
    background-size: cover;
    background-repeat: none;
    color: var(--color-white);
    gap: 2em;
    min-height: 100vh; 
    
}

header,
footer {
    
    a {
        color: var(--color-white);
        font-size: 1rem;
        text-decoration: none;
   }
}

.navigation {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    

}

.main-menu {
    display: inline-block;
    // display: none;
    
}

.menu-main {
    display: flex;
    background: var(--color-black-90);
    padding: 0px 10px 0px 0px;
    gap: 3px;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 0.5em;
    border: 1px solid var(--color-yellow-logo);
    height: 35px;
    font-size: 0.8em;
    align-items: center;
    
    img {
        width: 24px;
    }
}

nav {
    display: none;
    position: fixed;
    top: 45px;
    left: 5px;
    
    background-color: var(--color-black-60);
    z-index: 50;
    border: 1px solid var(--color-yellow-logo);
    border-radius: 1em;
    li:hover {
        background-color: var(--color-grey-disabled);
        border-right: 2px solid var(--color-yellow-logo);
        inborder-bottom: 2px solid var(--color-yellow-logo);
        border-radius: 0.4em;
        p {
            color: var(--color-yellow-logo);
        }
    }
}

nav ul {
    width: 165px;
    padding: 5px 10px;
    margin: 5px auto;
    
}

.close {
    display: grid;
    grid-template-columns: 0.4fr 0.2fr;
    justify-content: right;
    right: 20px;
    padding: 0 0 5px 0;
    margin-left: 30px;
    // display: none;
}

nav li {
    display: flex;
    justify-content: space-between;
    margin: 0 3px;
    img {
        // margin: 5px 5px;
        padding: 4px;
        width: 30px;
        height: 30px;
        
    }
    
}

nav a {
    display: inline-flex;
    align-items: center;
    
}

#hamburger-menu {
    display: none;
}

#hamburger-menu:checked ~ nav {
    display: block;
    animation-name: flyin;
    animation-duration: 0.5s;
    animation-direction: "normal";
      
    @keyframes flyin {
        0% {left: -300px;}
        100% {left: 0px;}
    }
    
}

.navbartop {
    margin: 0;
}
.topnav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: auto;
    
}

.topnav ul {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
    margin-right: 5px;
    // margin-left: auto;
    align-items: center;
    width: 340px;
    height: 35px;
    border-radius: 0.5em;
    background: var(--color-black);
    border: 1px solid var(--color-yellow-logo);
    // gap: 2px;
    padding: 0;
    li:hover {
        background-color: var(--color-grey-disabled);
        border-top: 1px solid var(--color-yellow-logo);
        border-bottom: 1px solid var(--color-yellow-logo);
        border-radius: 0.4em;
    
        p {
            color: var(--color-yellow-logo);
        }
    }
    .active {
        background-color: var(--color-grey-disabled);
        border-top: 1px solid var(--color-yellow-logo);
        border-bottom: 1px solid var(--color-yellow-logo);
        border-radius: 0.4em;
        cursor: default;
        p {
            color: var(--color-yellow-logo);
        }
    }
    
}

.topnav li {
    display: Flex;
    // width: 50px;
    list-style: none;
    align-items: center;
    img {
        // margin: auto;
        padding: 4px;
        width: 30px;
        // height: 30px;
        
    }
    a {
        display: flex;
        align-items: center;
        font-size: 0.8rem;
        width: auto;
    }
}

.back {
    // display: flex;
    // justify-content: space-between;
    // margin: 0 auto;
    padding-right: 5px;
    // padding-left: 0;
}

main {
    border-top: 2px solid var(--color-yellow-logo)
}

footer {
    border-top: 2px solid var(--color-yellow-logo)
}