@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Roboto:wght@400;900&display=swap');

:root {
    /* Color styles */
    --color-yellow-logo: #F5C518;
    --color-yellow-80: rgba(245, 197, 24, 0.5);
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-red: #EF5A5A;
    --color-green-checked: #2DEB35;
    --color-black-60: rgba(0, 0, 0, 0.6);
    --color-grey-disabled: #404040;
    --color-black-90: rgba(0, 0, 0, 0.9);
    
    /* Font styles */
    h1, h2, h3, h4, h5, h6,
    .paragraph__medium,
    .paragraph__xs,
    .paragraph__xxs,
    .paragraph__large {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        color: var(--color-white);
    }

    .h1__desktop{
        font-family: 'Roboto';
        font-style: italic;
        font-weight: 900;
        font-size: 80px;
        line-height: 94px;
    }

    h1 {
        font-family: 'Roboto';
        font-size: 3.583rem;
        line-height: 67px;        
    }

    h2 {        
        font-size: 2.986rem;
        line-height: 58px;        
    }

    h3 {
        font-size: 2.488rem;
        line-height: 48px;        
    }

    h4 {
        font-size: 2.074rem;
        line-height: 40px;
        color: var(--color-yellow-logo);
    }

    h5 {
        font-size: 1.728rem;
        line-height: 33px;
    }

    h6 {
        font-weight: 600;
        font-size: 1.44rem;
        line-height: 28px;
    }

    .paragraph__large {
        font-size: 1.2rem;
        line-height: 25px;
        font-weight: 600;
    }

    .paragraph__medium {
        font-size: 1rem;
        line-height: 24px;
    }

    .paragraph__xs {
        font-size: 0.694rem;
        line-height: 16px;
    }

    .paragraph__xxs {
        font-size: 0.579rem;
        line-height: 16px;
    }

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

html {
    font-family: Roboto, Inter, Helvetica, sans-serif;
}

body {
    position: relative;    
    background-color: var(--color-black-90);
    background-image: url(../images/bg-img.png);
    background-size: 150%;    
    background-repeat: no-repeat;
    background-position-x: -100px;
    color: var(--color-white);    
    height: 100vh;    
}

/* Header section */
header {
    border-bottom: 1px solid var(--color-yellow-logo);
    background-color: var(--color-black-60);
    
}

header,
footer {
    
    a {
        color: var(--color-white);
        font-size: 1rem;
        text-decoration: none;
   }
}

.navigation {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.main-menu {
    // display: inline-block;
    position: fixed;
    display: none;
    
}


.menu-main:hover {
    background-color: var(--color-grey-disabled);
    // border: 1px solid var(--color-black);
    
    // border-radius: 0.4em;
    p {
        color: var(--color-yellow-logo);
        text-decoration: underline;
    }
}

.menu-main {
    display: flex;
    cursor: pointer;
    background: var(--color-black-90);
    padding: 0px 10px 0px 0px;
    gap: 3px;
    margin-top: 6px;
    margin-left: 5px;
    border-radius: 0.5em;
    border: 1px solid var(--color-yellow-logo);
    height: 35px;
    font-size: 0.8em;
    align-items: center;
    
    img {
        padding: 4px;
        width: 30px;
        height: 30px;        
    } 
}

// .nav {
//     height: 330px;
//     // margin-top: 2px;
// }

nav {
    display: none;
    position: fixed;
    width: 160px;
    height: 335px;
    top: 45px;
    left: 5px;
    margin: 0;
    background-color: var(--color-black-90);
    z-index: 500;
    // padding-bottom: 1px;
    border: 1px solid var(--color-yellow-logo);
    border-radius: 1em;
    .active {
        background-color: var(--color-grey-disabled);
        // border-right: 2px solid var(--color-yellow-logo);
        width: 100%;
        border-radius: 0.4em;
        cursor: default;
        p {
            color: var(--color-yellow-logo);
        }
    }
    li:hover {
        background-color: var(--color-grey-disabled);
        border-right: 2px solid var(--color-yellow-logo);
        
        border-radius: 0.4em;
        p {
            color: var(--color-yellow-logo);
        }
    }
}


.menu-flyin {
    display: none;
    position: fixed;
    width: 160px;
    height: 335px;
    top: 45px;    
    left: 5px;
    margin: 0;
    // padding-bottom: 1px;
    background-color: var(--color-black-90);
    z-index: 999;
    border: 1px solid var(--color-yellow-logo);
    border-radius: 1em;    
    li:hover {
        background-color: var(--color-grey-disabled);
        border-right: 2px solid var(--color-yellow-logo);
        
        border-radius: 0.4em;
        p {
            color: var(--color-yellow-logo);
        }
    }
    .active {
        background-color: var(--color-grey-disabled);
        // border-right: 2px solid var(--color-yellow-logo);
        width: 100%;
        border-radius: 0.4em;
        cursor: default;
        p {
            color: var(--color-yellow-logo);
        }
    }
    
}

nav, .menu-flyin ul {
    width: 160px;
    padding: 0 10px;
    z-index: 999;
    background-color: none;
}


.close {
    display: flex;
    // grid-template-columns: 0.4fr 0.2fr;
    justify-content: space-between;
    align-items: center;
    right: 20px;
    gap: 3px;
    // padding: 0 0 2px 0;
    margin-left: 80px;
    width: 30px;
    height: 24px;
    // border: none;
    font-size: 20px;
    cursor: pointer;
    img {
        padding: 2px;
        width: 20px;
    }
}



nav, .menu-flyin li {
    display: flex;
    width: 140px;
    padding: 3px 0;
    // justify-content: flex-start;
    margin: 0 3px;
    z-index: 999;
    cursor: pointer;
    img {
        padding: 4px;
        width: 24px;
        height: 24px;        
    }    
}

nav a {
    display: inline-flex;
    align-items: center;    
}

.menu-flyin a {
    display: inline-flex;
    align-items: center;
}

#hamburger-menu, #top-burger {
    display: none;
}

#hamburger-menu:checked ~ nav {
    display: block;
    animation-name: flyin;
    animation-duration: 0.5s;
    animation-direction: "normal";
      
    @keyframes flyin {
        0% {left: -300px;}
        100% {left: 0px;}
    }    
}

#top-burger:checked ~ .menu-flyin {
    display: block;
    animation-name: flyin;
    animation-duration: 0.5s;
    animation-direction: "normal";
      
    @keyframes flyin {
        0% {left: -300px;}
        100% {left: 0px;}
    }    
}

.wrapper {
    display: flex wrap;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 0 auto;
    height: 140px;
    width: 360px;
}


.top-burger {
    cursor: pointer;
}

.navbar-top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1px;
    position: fixed;
    top: 5px;
    height: 35px;
    background: var(--color-black);
    border-radius: 0.5em;
    padding-top: 0px;
    z-index: 1000;
    .topmenu__images {
        margin: 3px;
    }
    .top-menu {
        display: inline-block;
        padding-left: 5px;
        margin-top: 2px;
    }

    .topmenu, .top-menu {
        display: inline-block;
        
        // .topmenu {
        //     display: inline-block;
        //     width: 165px;
        
            li {
                
                .active {
                    width: 100%;
                    background-color: var(--color-grey-disabled);
                    // border-top: 0px solid var(--color-yellow-logo);
                    // border-right: 1px solid var(--color-yellow-logo);
                    // border-bottom: 0px;
                    border-radius: 0.4em;
                    cursor: default;
                    p {
                        color: var(--color-yellow-logo);
                    }
                }
            }
        // }
        

    }
}
.topnav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 360px;
    padding: 0;
}

.topnav ul {
    display: inline-flex;
    justify-content: space-evenly;
    margin-top: 0px;
    // margin-right: 5px;    
    align-items: center;
    width: 360px;
    height: 35px;
    border-radius: 0.5em;
    
    border: 1px solid var(--color-yellow-logo);    
    padding: 0;
    li:hover {
        background-color: var(--color-grey-disabled);
        border-top: 1px solid var(--color-yellow-logo);
        border-bottom: 1px solid var(--color-yellow-logo);
        border-radius: 0.4em;
    
        p {
            color: var(--color-yellow-logo);
        }
    }
    .active {
        background-color: var(--color-grey-disabled);
        // border-top: 1px solid var(--color-yellow-logo);
        // border-bottom: 2px solid var(--color-yellow-logo);
        border-radius: 0.4em;
        cursor: default;
        p {
            color: var(--color-yellow-logo);
        }
    }
    
}

.topnav li {
    display: Flex;    
    list-style: none;
    align-items: center;
    padding: 3px 0;
    width: auto;
    height: 30px;

    justify-content: flex-start;
    img {
        // padding: 4px;
        width: 24px;
        // height: 24px;
    }
    a {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 0.8rem;
        // width: auto;
    }
}

.top-menu li {
    width: 140px;
}

.top-menu ul {
    width: 150px;
    height: 330px;
    border: none;

    li:hover {
        background-color: var(--color-grey-disabled);
        border-right: 2px solid var(--color-yellow-logo);
        border-top: none;
        border-bottom: none;
        border-radius: 0.4em;
        p {
            color: var(--color-yellow-logo);
        }
    }
}
.back {
    padding-right: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
    // a {
    //     width: 60px;
    // }
}


/* Sign in section */
.sign-in {
    display: flex;
    // justify-content: space-between;
    // margin: 0 auto;
    max-width: 360px;
    height: 100px;
    top: 40px;
    position: absolute;
}

.sign-in__text {
    width: 60%;
    display: flex;
    justify-content: center;
    // background-image: url(../images/sign-in__text.png);
    // background-size: 100%;
    // background-repeat: no-repeat;    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 21px;
    line-height: 27px;
    align-items: center;
    text-align: center;
    color: rgba(0, 0, 0, 0.9);
    z-index: 0;
    p {
        padding-right: 5px;
    transform: rotate(-6.92deg);
    -webkit-text-stroke-color: var(--color-yellow-logo);
    -webkit-text-stroke-width: 1px;
    }
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100px;
    // height: 80px;
    // align-content: flex-start;
}

.sign-in__form {
    width: 40%;
    
    // margin: 5px;
    
    #username, #password {
        background-color: var(--color-black);
        border: 1px solid var(--color-yellow-logo);        
        color: var(--color-yellow-logo);
        
    }   
}

input {
    display: flex;
    justify-content: right;
    width: 100%;
    height: 25px;
    margin: 5px 0;
    font-size: 0.8rem;
    border-radius: 0.5em;
}

#username:focus-within {
    background-color: lightgoldenrodyellow;
    color: var(--color-black-90);
    
}

#password:focus-within {
    background-color: lightgoldenrodyellow;
    color: var(--color-black-90);
}

.form__inputs {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 30px;
    margin: 0; 
}

.form__buttons {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    gap: 8px;
    input {
        font-size: 0.7rem;
        font-weight: 600;
    }
    
}
.cta {
    display: flex;
    justify-content: center;
    width: 68px;
    background-color: var(--color-black);
    color: var(--color-yellow-logo);
    margin: 5px auto; 
    border: 1px solid var(--color-yellow-logo);
    border-radius: 0.8em;
    cursor: pointer;
    text-align: center;
}

.cta:hover {
    background-color: var(--color-yellow-logo);
    color: var(--color-black);
    // font-weight: bold;
    border-top: 1px solid var(--color-yellow-logo);
    border-bottom: 1px solid var(--color-yellow-logo);
    
}

/* Main section*/
main {
    background-color: var(--color-black-60);
}

.main__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // grid-template-columns: 1fr;
    // grid-template-rows: auto 1fr auto;
    // justify-content: center;

    margin: 0 auto;
    max-width: 1000px;
}

.buy-sell_buttons{
    display: flex;
    justify-content: space-around;    
    width: 90%;
    margin-top: 5em;
    img {
        width: 12vh;
        border-radius: 50%;   
    }
    a {
        border-radius: 50%;
    }
}

.logo__main {
    display: flex;
    margin: 0;
    width: 80%;
    max-width: 1000px;
    height: 40vh;
    justify-content: center;
    background-image: url(../images/gamehub/logo_ylw_blk.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.apps {
    display: flex;
    width: 100%;
    max-width: 400px;
    justify-content: space-around;
    // flex-wrap: wrap;
    margin: 2em auto 4em auto;
    // gap: 2em;
    a {
        // display: flex;
        // flex-wrap: wrap;
        // justify-content: center;
        // text-align: center;
        // margin: 0;
        // padding: 0;
        // height: 100%;
        // width: 100%;
    }
    img {
        align-items: center;
        width: 100%;
        max-width: 156px;
    }
}

/* Footer */
footer {
    display: flex;    
    flex-direction: column;    
    align-items: center;
    background-color: var(--color-black-90);
}
.footer__wrapper {
    width: 100%;
    border-top: 1px solid var(--color-yellow-logo);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 2em 0;
    .widescreen {
        display: none;
    }
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    gap: 2em;
    width: 33%;

    .active {
            background-color: var(--color-grey-disabled);
            width: 100%;
            border-radius: 0.4em;
            cursor: default;
            p {
                color: var(--color-yellow-logo);
            }
    }
    li:hover {
            background-color: var(--color-grey-disabled);
            border-right: 2px solid var(--color-yellow-logo);            
            border-radius: 0.4em;
            p {
                color: var(--color-yellow-logo);
            }
    }
    
}

.left ul {
    width: 170px;
    padding: 5px 10px;
    margin: 5px auto;    
}

.left li {
    display: flex;
    justify-content: space-between;
    margin: 0 3px;
    padding: 3px;
    img {
        padding: 4px;
        width: 30px;
        height: 30px;        
    }    
}

.left a {
    display: inline-flex;
    align-items: center;
}

.middle {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    gap: 2em;
    width: 33%;
}

.get-app,
.social-media {
    display: block;
    justify-content: center;
    align-items: center;
}

.social-media {
    border: 1px solid var(--color-yellow-logo);
    padding: 1em;
    border-radius: 1em;
}

.app-text,
.social-media__icons,
.trustpilot {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.social-media__text {
    padding-bottom: 10px;
    text-align: center;
}

.app-text,
.partners {
    display: block;
    padding-bottom: 1em;
    justify-content: center;
    text-align: center;
    p {
        padding: 2px;
    }
    a {
        text-decoration: underline;
        color: var(--color-yellow-logo);        
    }
}

.app-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    img {        
        max-width: 130px;
        padding: 5px;
    }
}

.trustpilot__images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    gap: 2em;
    width: 33%;
}

.logo__footer {
    display: flex;
    justify-content: center;
    text-align: center;
    img {        
        width: 75%;
        max-width: 100%;
    }
}

.partners {
    .paragraph__medium {
        padding-bottom: 1em;
    }
}

.copyright {
    display: block;
    align-items: center;
    width: 100%;
    padding: 1em 0;
    border-top: 1px solid var(--color-yellow-logo);
    text-align: center;
    margin: 0 auto;
    background-color: var(--color-black-90);
}

/* @media screensize under 480px */
@media screen and (min-width: 769px) {
.main-menu {
        display: inline-block;        
}
  
.buy-sell_buttons{    
    img {
        width: 15vh;        
    }
}

.footer__wrapper {
    width: 100%;
    border-top: 1px solid var(--color-yellow-logo);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2em 0;
}


}